.main {
  min-height: 100%;
  background: #000;
}
h1.titlehead {
  text-align: center;
  color: aliceblue;
}

.image-container{
  margin: 0 auto;
   
width: 150px;
}

img {
  height: 150px;
  width: 100%;
}


